* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f4f8;
}

.contenedor {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.contenido {
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 40px;
    align-items: center;
}

/* PANEL */

.panel {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.panel h2 {
    margin-top: 0;
}

textarea {
    width: 100%;
    height: 250px;
    resize: none;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.panel button {
    width: 100%;
    margin-top: 15px;
}

/* RULETA */

.zona-ruleta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ruleta-container {
    position: relative;
    width: 550px;
    height: 550px;
}

.ruleta {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    background: conic-gradient(
        #ef6a6a 0deg 60deg,
        #63c7c4 60deg 120deg,
        #f0d65a 120deg 180deg,
        #6d72d9 180deg 240deg,
        #e59a9a 240deg 300deg,
        #79bd8f 300deg 360deg
    );

    border: 8px solid white;

    box-shadow: 0 5px 20px rgba(0,0,0,0.2);

    transition: transform 4s cubic-bezier(.12,.7,.12,1);
}
.nombre {
    position: absolute;

    top: 50%;
    left: 50%;

    width: 130px;

    text-align: center;

    font-size: 17px;
    font-weight: bold;

    color: #222;

    transform-origin: center;

    pointer-events: none;

    z-index: 1;

    margin-left: -65px;
    margin-top: -10px;
}

/* CENTRO */

.centro {
    position: absolute;

    width: 75px;
    height: 75px;

    background: white;

    border-radius: 50%;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 28px;

    z-index: 2;
}

/* FLECHA */

.flecha {
    position: absolute;

    right: -15px;
    top: 50%;

    transform: translateY(-50%);

    width: 0;
    height: 0;

    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;

    border-right: 0;
    border-left: 35px solid #111;

    z-index: 5;
}

/* BOTÓN */

button {
    border: none;
    padding: 13px 25px;

    border-radius: 8px;

    background: #d92b8a;
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

#girar {
    margin-top: 25px;

    background: #20b84b;

    padding: 15px 45px;

    font-size: 18px;
}

button:hover {
    opacity: 0.9;
}

#resultado {
    font-size: 18px;
    font-weight: bold;
}

/* CELULAR */

@media (max-width: 750px) {

    .contenido {
        grid-template-columns: 1fr;
    }

    .ruleta-container {
        width: 320px;
        height: 320px;
    }

}